body{
    margin: 0;
    height: 100%;
}

/* DIV THAT CONTAINS THE IMAGE */
#container{
   width:100%;
   height:100%;
   background:url("https://source.unsplash.com/random?nature") no-repeat center center fixed;
   background-size: cover;
   background-repeat:no-repeat;
   background-position:center center;
   position: fixed;
}

/* THE WEATHER DIV BEFORE CLICKING */
#weather{
    padding: 1%;
    position: fixed;
    left: 92%;
    top: 6%;
    text-align: center;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background-color: rgba(1, 11, 28, 0.65);
    color:#eff2f7;
    border-radius: 15px;
    height: fit-content;
    margin-top: 3%;
}
.modal-content{
    display: flex;
}
#weatherIcon{
    width: 60%;
}
canvas {
    display: flex;
    align-items: center;
}
#icon2{
    color: #8fbed6 !important;
    display: flex !important;
    padding-left: 10%;
    align-items: center !important;
    justify-content: center;
}
#icon{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 25%;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#modal1{
    position: absolute;
    margin-right: 7%;
    width: 25%;
    width: 400px;
}

#language{
    position: absolute;
    left: 50%;
    top: 5%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: rgba(1, 11, 28, 0.65);
    color:#eff2f7;
    border-radius: 5px;
}

/* THE CLOCK CONTAINER */
#time{
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 15vh; 
    color: white;
    background-color: rgba(1, 11, 28, 0.65);
    border-radius: 20px;
    padding: 0 1.75rem 0 1.75rem;
}
#quote{
    color:#eff2f7;
    position: fixed;
    top: 87%;
    left: 50%;
    padding-right: 2%;
    transform: translate(-50%, -50%);
    background-color: rgba(1, 11, 28, 0.65);
    height: fit-content;
    text-align: center;
    font-size: 2.5vh;
    border-radius: 20px;
}
blockquote{
    border-left: rgba(245,245,245, 0.7) !important;
}
#author{
    text-align: right;
    padding-right: 3%;
    height: fit-content;
    font-size: 2vh;
}

/* GOOGLE SEARCH */
/* this is not working either :( */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    content: 'Search Google';
  }
  ::-moz-placeholder { /* Firefox 19+ */
    content: 'Search Google';
  }
  :-ms-input-placeholder { /* IE 10+ */
    content: 'Search Google';
  }
  :-moz-placeholder { /* Firefox 18- */
    content: 'Search Google';
  }
div .gsc-control-cse{
    width: 30%;
    background: transparent;
    border: none;
}
table .gsc-search-box{
    border: none;
}
td .gsc-input{
    background: transparent !important;
}
.gsc-search-button-v2, .gsc-search-button-v2:hover, .gsc-search-button-v2:focus {
    background-color: transparent !important;
    border: none !important;
    font-size: 15px;
    width: 15px;
}
div #gsc-iw-id1{
    background: rgba(1, 11, 28, 0.65) !important;
    border-bottom: 5px white !important;
}
div #gsc-iw-id1 .gsc-input-box{
    border:none;
}
table #gs50_id50.gstl_50{
    border-bottom: 5px white !important;
}
table .gsc-search-box{
    border: none !important;
}
div .gsc-control-wrapper-cse > table .gsc-search-box {
    border-collapse: none !important;
}
/* table{
    border-collapse:  !important;
} */
.cse input.gsc-input {
    background-image:none !important;
}
input #gsc-i-id1 .gsc-input{
    background-image:none !important;
}
.gsc-input-box {
    border: none !important;
}
input.gsc-input { 
    color: white !important;
    background: none;
    background-image:none !important;
 }
.gsst_a .gscb_a{
    color: white !important;
}
.gsc-input {
    text-indent: 5px;
}

/* EVENTS */
#eventsTrigger {
    position: fixed;
    left: 50%;
    top: 67.5%;
    transform: translate(-50%, -50%);
    min-width: 210px;
}
.eventsModalTitle {
    color: white;
}
#eventsModal, #eventsModalFooter {
    background-color: rgba(1, 11, 28, 0.65);
}
#eventsModalFooter .material-icons {
    color: white;
}




